ase>=3.23.0
matplotlib>=3.7.0
pymatgen>=2023.2.24
pyyaml>=6.0
tensorboard>=2.13.0
tqdm>=4.66.0
numba>=0.57.0
demjson>=2.2.4
Pillow>=10.0.0
wandb>=0.15.0
lmdb>=1.4.1
pytest>=7.0.0
submitit>=1.4.5
torch>=2.2.0
torch-scatter>=2.1.2
torch-sparse>=0.6.18
torch-cluster>=1.6.3
torch-spline-conv>=1.2.2
torch-geometric>=2.5.0
